<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                <tr class="clickable" *ngFor="let kitten of kittens" (click)="openKitten(kitten.id)">
                    <td>{{kitten.id}}</td>
                    <td>{{kitten.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
